*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section{
    position: relative;
    max-width: 100%;
    width: 400px;
    max-height: 600px;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(80px);
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    overflow: auto;
}
section::-webkit-scrollbar{
    max-width: 100%;
    }

section::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;  
}

h2{
    font-size: 2rem;
    color: #023166;
    text-align: center;
}

.info1{
    
    position: relative;
    margin: 10px 0;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #fff;

}

.info1 label{
    top: 50%;
    left: 4px;
    position: relative;
    padding: 5px;
    transform: translateY(-50%);
    color: #005397;
    pointer-events: none;
}



.info1 input{
    width:100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.3); 
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    padding: 0 25px 0 5px;
    color: #fff;
}

.devices{
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #fff;

}

.option .selected{
    background-color: rgb(255, 255, 255);
    color: rgb(7, 43, 66);
}

.devices option:checked{
    background-color: rgb(7, 43, 66);
    color: #fff;
}
#option{
    width: 100%;
    height: 80px;
    top: 5px;
    bottom: 5px;
    background: rgb(186, 250, 255);
    border-radius: 10px;
    position: relative;
    border: none;
    padding: 1px;

} 
#option::-webkit-scrollbar{
    width: 10px;
}

#option::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
}

 


.checkbox{
    font-size: 10px;
    justify-items: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    position: relative;
}

button{
    width: 60%;
    height: 30px;
    position: relative;
    border-radius: 20px;
    border: none; 
    cursor: pointer;
}

.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

button:hover{
    background-color: #002855;
    color: #fff;
    transition: all 0.4s ease-in-out;
}